

<h2> My Skills </h2>

<div class="row">
    <div class="col-lg-3 ml-auto">
        <p class="lead">I have just begun a new adventure in the world of coding and web developement. My
            field of expertise thus far includes HTML, CSS, Bootstrap, Javascript,JQuery, Node, Bash and
            MySQL.</p>
    </div>
    <div class="col-lg-3 mr-auto">
        <p class="lead">I have been working in IT for the past 3 years in different support roles. I am now
            working in EDI as an implemenation specialist setting up many small businesses with new business
            opportunities from large companies such as Amazon, Walmart, Target and many more.</p>
    </div>
    <div class="col-lg-3 mr-auto">
        <p class="lead"> My Software/Application Skills include: Microsoft Office Suite (Intermediate Excel), SQL
            (Beginner), PowerShell, Javascript, SCCM, HTML, CSS, Microsoft 7, Microsoft 10, Office 365</p>
    </div>