<h2> My Skills </h2>

<div class="row">
    <div class="col-lg-3 mr-auto">
        <p class="lead">I am continuing to build my skills in full stack development. I have started to build full stack
            applications. My fields of knowledge thus far include node.js, express.js, JQuery, CSS, Javascript,
            handlebars, MongoDb, and mySQL.
            MySQL.</p>
    </div>
    <div class="col-lg-3 mr-auto">
        <p class="lead">I have been working in IT for the past 3 years in different support/implementation roles. I am
            now
            working in EDI as an implemenation specialist setting up many small businesses with new business
            opportunities from large companies such as Amazon, Walmart, Target and many more.</p>
    </div>
    <div class="col-lg-3 mr-auto">
        <p class="lead"> My Software/Application Skills include: Microsoft Office Suite (Intermediate Excel), SQL
            (Beginner), PowerShell, Javascript, SCCM, HTML, CSS, Microsoft 7, Microsoft 10, Office 365</p>
    </div>

    <div class="text-center bold mt-4">
        <div class="cv">
            <a class="btn btn-xl btn-outline-dark" href="dist/assets/Andrew DeHaven Resume- March 2021 .pdf"
                target="_blank">
                <i class="fas mr-2"></i>
                Please Click for a downloadable PDF version of My Resume
            </a>
        </div>

    </div>