<div class="typewriter">
    <h2 class="anim-typewriter">Andrew DeHaven Portfolio</h2>
</div>

<img class="masthead-avatar"
    src="https://media-exp1.licdn.com/dms/image/C4D03AQG0DDx17cccAQ/profile-displayphoto-shrink_800_800/0/1566519968818?e=1618444800&v=beta&t=xPXUOOD_R9b9gxGtDWF7bDg9RC74u8nbkioZPWJAUz4"
    alt="Drew's Photo" />

<p class="lead mb-0">
    My first passion is traveling and seeing the world. I speak German, English and
    French if pressed. I have visited over 40 different countries in 4 continents. Please
    feel free to ask me about any adventure. I also love sport. I'm frequently running or cycling or playing tennis.</p>
</p>