<div class="typewriter">
    <h2 class="anim-typewriter">Andrew DeHaven Portfolio</h2>
</div>

<img class="masthead-avatar"
    src="https://media-exp1.licdn.com/dms/image/C4D03AQG0DDx17cccAQ/profile-displayphoto-shrink_800_800/0/1566519968818?e=1618444800&v=beta&t=xPXUOOD_R9b9gxGtDWF7bDg9RC74u8nbkioZPWJAUz4"
    alt="Drew's Photo" />

    <p class="heading"> IT Support/SaaS Implementation Specialist- Full-Stack Developer</p>

<p class="aboutMe">
    My name is Andrew and I am just getting started in the realm of web development. Building new apps has become a real passion of mine and I cannot wait to learn and grow more in this field. With each new app, I learn something new and carry that in the next app I'll build. 
    <p>

<div>
     <div class="container2">
          <p>Follow Me</p>
        <a class="btn btn-outline-dark btn-social mx-1" href="https://www.linkedin.com/in/andrew-dehaven-6ba8a193/"
            target="_blank">
            <p>linkedin</p>
            <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/adeha047" target="_blank">
                <p>git</p>
            </a>
        </a>
    </div> 
</div>