<div class="typewriter">
    <h2 class="anim-typewriter">Andrew DeHaven Portfolio</h2>
</div>

<img class="masthead-avatar"
    src="/assets/Drew.jpg"
    alt="Drew's Photo" />

    <p class="heading"> IT Support/SaaS Implementation Specialist- Full-Stack Developer</p>

<p class="aboutMe">
    I am just getting started in the realm of web development. Building new apps has become a real passion of mine and I cannot wait to learn and grow more in this field. With each new app, I learn something new and carry that in the next app I'll build. 
    <p>

<div>
     <div class="container2">
        <a class="btn btn-outline-dark btn-social mx-1" href="https://www.linkedin.com/in/andrew-dehaven-6ba8a193/"
            target="_blank">
            <p>linkedin</p>
            <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/adeha047" target="_blank">
                <p>git</p>
            </a>
        </a>
    </div> 
</div>