
<div class="card login">
  <div class="card-body">
    <div id="login_form">
      <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="card-body">
            <label for="exampleInputPassword1">Leave A Message</label>
            <input type="password" class="form-control" id="password-input" placeholder="Mesasage">
          </div>
          <button type="submit" class="btn btn-default">Contact Me </button>
        </form>
    </div>
  </div>
</div>

  <script type="text/javascript" src="/assets/js/login.js"></script>