*{
    margin-top: 5px;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
}
    
    
h2{
    text-align: center;
}

/* Animation */
.anim-typewriter{
    position: sticky;
    top: 100%;  
    width: 18em;
    margin: 0 auto;
    color: darkblue;
    margin-top: 30px;
    /* border-right: 2px solid rgba(255,255,255,.75); */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgb(148, 162, 175)}
  to{border-right-color:  rgb(148, 162, 175);}
}

.about{
    text-align: center;
}

.resume{
    width: 25%;  
}

.masthead-avatar {
    width: 15rem;
    border-radius: 150px;
    position: absolute; 
    left: calc(47% - 75px);
    top: calc(30% - 75px);    
}


.row{
    position: absolute;
    top: calc(40% - 75px);
    left: calc(10% - 75px); 
    font-family: 'Courier New', Courier, monospace;    
    
}

.card-body{
    margin-top: 100px;

}

body{
    
        background-image:url("/assets/colors.jpg");
        background-repeat: no-repeat;
        background-size: cover;

}
.heading{
    position: absolute; 
    left: calc(35% - 75px);
    top: calc(68% - 75px);   

}
.aboutMe{
    margin: 20px;
    position: absolute;
    top: calc(80% - 75px);  
    
}

.container2{
    padding-left: 44%;
    position: absolute;
    bottom: calc(15% - 75px);  

}

.cv{
    position: absolute;
    left: calc(33% - 75px); 
    bottom: calc(2% - 75px);
    
}
.aboutMe{
    text-align: center;
    margin-left: 45px;
}









